.content {
  display: flex;
  justify-content: center;
}

.card-item {
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  height: 80vh;
  background-color: aqua;
  border: 1px solid;
  border-radius: 50px;
  -webkit-transition: all 700ms ease-in;
}

.card-item.active {
  flex: 5;
}
